p {
  text-align: justify;
  text-justify: inter-word;
}
ul {
  padding-left:20px;
  list-style:none;
  overflow: scroll;
  width: 500px;
  height: 200px;
}
li {
  margin-bottom:10px;
}
li:before {
  font-family: 'FontAwesome';
  content: '\f067';
  margin:0 5px 0 -15px;
}
h4 {
 text-decoration: GrayText;
}

