<div>
  <tabset #staticTabs>
    <tab heading="C’EST POUR QUI?">
        <p>
          En période de <strong>pandémie</strong>, <mark>la distanciation sociale</mark> est une mesure <em>prouvée</em> et efficace pour  <strong> limiter la propagation d’une maladie  ou d’un virus  </strong>.
          Tout le monde peut jouer un  <strong> rôle important  </strong>et protéger les personnes à risque.
          <mark>Cela ne requiert que de la détermination et de la bonne volonté</mark>.et avec ( قريب )une cartographie modifiable par ses utilisateurs, sur le principe de la production participative ; pour éviter <strong> les endroits surpeuplés </strong>.
          <br>
          <app-participationmodal></app-participationmodal>
        </p>
        <app-statistic></app-statistic>
    </tab>
    <tab heading="HABITUDES">

      <h4>Chaque geste compte! Voici quelques façons d’y arriver :</h4>
      <ul>
        <li> <strong> Restez à la maison le plus possible :</strong>
          faites-vous livrer vos repas, créez une routine d’entraînement intérieure et divertissez-vous.</li>
        <li><strong>Travaillez à la maison </strong>si votre travail le permet.</li>
        <li><strong>Si vous devez absolument sortir</strong>, évitez de le faire durant les heures de pointe.</li>
        <li><strong>Utilisez la technologie pour garder le contact avec vos proches</strong>.
          Les appels-vidéos sont une bonne façon de communiquer.</li>
        <li><strong>Saluez les personnes de la main</strong>, au lieu d’échanger des poignées de main, des accolades ou des baisers.</li>
        </ul>
    </tab>
    <tab heading="Supports et liens utiles">
      <ul>
        <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">W.H.O</a></li>
        <li><a href="https://www.sante.gov.ma/Pages/Accueil.aspx" target="_blank">Ministère de la Santé</a></li>
        <li> <strong> NUMÉRO DE TÉLÉPHONE À RETENIR: "ALLO YAKADA" (080-100-47-47) </strong> </li>
        <li> <em> سعد الدين العثماني EL OTMANI Saad dine</em> <a href="https://twitter.com/elotmanisaad" target="_blank"> @elotmanisaad</a> </li>
      </ul>
      </tab>
  </tabset>
</div>
