<!-- Experience-->
<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Experience</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <h3 class="mb-0">Mathematics Teacher</h3>
        <div class="subheading mb-3">self-employed - Marrakech, Morocco</div>
          Main activities and responsibilities :
          <ul>
            <li> <strong> Organized </strong> meetings with parents.</li>
            <li> <strong> Managed </strong> groups of up to 30 students.</li>
            <li> <strong> Maintained </strong> good relationship with students and fostered <strong> open communication</strong>.</li>
            <li> <strong> Develop </strong> and <strong> Implement</strong> Creative Lesson- Explanations- Plans.</li>
          </ul>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">Sep 2017 – Present</span>
      </div>
    </div>
  </div>
</section>
