<!-- Interests-->
<section class="resume-section" id="interests">
  <div class="resume-section-content">
    <h2 class="mb-5">Interests</h2>
    <p>
      Apart from being a web developer, I enjoy most of my time being in the karate  club . During the
      warmer months here in Marrakech, I enjoy mountain biking, free climbing,
      and kayaking.
    </p>
    <p class="mb-0">
      When forced indoors, I follow a number of sci-fi and fantasy genre movies
      and television shows, I am an aspiring teacher, and I spend a large amount of
      my free time exploring Math tricks and the latest technology advancements in the front-end/back-end
      web development world .
    </p>
  </div>
</section>
